# YandexCloudGPT

OPENAI_FOLDER_ID="b1g...8m" # CHANGME
OPENAI_API_KEY="AQ...h9xyi" # CHANGME
OPENAI_API_BASE="https://llm.api.cloud.yandex.net/v1"
EMBEDDING_API="https://llm.api.cloud.yandex.net:443/foundationModels/v1/textEmbedding"
YANDEXGPT_API="https://llm.api.cloud.yandex.net/foundationModels/v1/completion"

# Agent ENV

UNIQUE_BOT_ID="8...2:A...Xyi" # CHANGME
RATE_LIMIT_TEMPLATE="msg_count:{user_id}"

# Chroma

CHROMA_PORT=8000
CHROMA_HOST="127.0.0.1"
TIME_SLEEP_RATE_EMBEDDER=0.01
SIMILARITY_FILTER=1.5
CHROMA_MAX_RAG_DOCUMENTS=42
CHROMA_TOPK_DOCUMENTS=5
COLLECTION_NAME="PRODUCTION_PROFKOM"

# Redis

REDIS_PORT=6379
REDIS_HOST="127.0.0.1"
REDIS_THRESHOLD=0.05
REDIS_TTL=3600

# Langfuse

LANGFUSE_SECRET_KEY="sk-lf-f46...42a" # CHANGME
LANGFUSE_PUBLIC_KEY="pk-lf-8b...jOpa" # CHANGME
LANGFUSE_HOST="http://127.0.0.1:3000" # CHANGME
LANGFUSE_PROJECT_ID=profkom
LANGFUSE_STAGE=dev

# Postgres

PG_USER="union_chatbot"
PG_PASSWORD="42...j0pA" # CHANGME
POSTGRES_DB="union_chatbot_db" # CHANGME
PG_SCHEMA="public" # CHANGME
PG_HOST="127.0.0.1"
PG_PORT=5432

# Nginx

NGINX_TOKEN="6l...-5g" # CHANGME